DATABASE_URL=sqlite:///./test.db
# Para Postgres en Render usarás algo como:
# DATABASE_URL=postgresql://user:password@hostname/dbname
SECRET_KEY=94a08da1fecbb6e8b46990538c7b50b2
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
